@import "variables";
@import "media";
@import "fonts";

body {
  background-color: $backgroundColor;

  @include md {
    background-color: $backgroundColor2;
  }
}

h1 {
  font-family: "HyliaSerif";
  letter-spacing: 4px;
}

img {
  width: 32px;
  height: 32px;
}