$columnCount: 12;
$columnGap: 30px;

@mixin colsAndRows() {
  $columns: 1 2 3 4 5 6 7 8 9 10 11 12;
  @each $column in $columns {
    > .columns-#{$column} {
      grid-column: span $column;
    }

    > .rows-#{$column} {
      grid-row: span $column;
    }
  }
}

.column-grid {
  display: grid;
  grid-template-columns: repeat( $columnCount, 1fr );
  gap: $columnGap;

  @include colsAndRows;
}