$primary100: #cfd9d7;
$primary200: #9fb4af;
$primary300: #6f8e87;
$primary400: #3f695f;
$primary500: #0f4337; /// default
$primary600: #0c362c;
$primary700: #092821;
$primary800: #061b16;
$primary900: #030d0b;

$colorOnPrimary: #fffffff8;

$secondary100: #fffacc;
$secondary200: #fff599;
$secondary300: #fff066;
$secondary400: #ffeb33;
$secondary500: #ffe600;
$secondary600: #ccb800;
$secondary700: #998a00;
$secondary800: #665c00;
$secondary900: #332e00;

$accent100: #fdd9d7;
$accent200: #fbb4af;
$accent300: #f88e86;
$accent400: #f6695e;
$accent500: #f44336;
$accent600: #c3362b;
$accent700: #922820;
$accent800: #621b16;
$accent900: #310d0b;
