@import url("@/assets/styles/css_reset.css");

@import "variables";
@import "media";
@import "fonts";
@import "column-grid";
@import "theme";

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto";
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  &.cover {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}

.has-background-image {
  position: relative;
  isolation: isolate;

  > img {
    position: absolute;
    z-index: -1;
    inset: 0;
  }
}

header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    --_color: #{$primary400};

    @include dark {
      --_color: #{$primary200};
    }

    font-weight: bold;
    font-size: 20px;
    color: var(--_color);
    border-bottom: 1px solid var(--_color);
    display: flex;
    align-items: center;
    letter-spacing: 0.2rem;

    svg {
      margin-left: 0.2rem;
      fill: var(--_color);
    }
  }
}
