@import url("@/assets/styles/css_reset.css");

@import "variables";
@import "media";
@import "fonts";
@import "column-grid";

h1 {
  font-family: "HyliaSerif";
  letter-spacing: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  &.cover {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}

.has-background-image {
  position: relative;
  isolation: isolate;

  > img {
    position: absolute;
    z-index: -1;
    inset: 0;
  }
}
